name: Docker build, push, sign, and scan

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  docker:
    name: Docker build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
      pull-requests: write
      attestations: write
    outputs:
      digest: ${{ steps.build-and-push.outputs.digest }}

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            *.cloudfront.net:443
            api.dso.docker.com:443
            api.github.com:443
            api.scout.docker.com:443
            auth.docker.io:443
            cdn01.quay.io:443
            cdn02.quay.io:443
            cdn03.quay.io:443
            docker-images-prod.6aa30f8b08e16409b46e0173d6de2f56.r2.cloudflarestorage.com:443
            files.pythonhosted.org:443
            fulcio.sigstore.dev:443
            get.anchore.io:443
            ghcr.io:443
            github.com:443
            grype.anchore.io:443
            hub.docker.com:443
            index.docker.io:443
            nodejs.org:443
            objects.githubusercontent.com:443
            pkg-containers.githubusercontent.com:443
            production.cloudflare.docker.com:443
            public.ecr.aws:443
            pypi.org:443
            quay.io:443
            raw.githubusercontent.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
            registry.scout.docker.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            timestamp.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            uploads.github.com:443

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Docker meta
        id: docker-meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw
            quay.io/${{ vars.QUAY_USERNAME }}/cf-ips-to-hcloud-fw
            ghcr.io/${{ github.repository_owner }}/cf-ips-to-hcloud-fw
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' && ',index' || '' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        if: ${{ (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Quay
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ vars.QUAY_ROBOT }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' && 'linux/amd64,linux/arm64' || '' }}
          push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
          load: ${{ github.event_name == 'pull_request' || github.actor == 'dependabot[bot]' }}
          sbom: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' && 'generator=docker/scout-sbom-indexer:1.18.2@sha256:3579229a5ace351e4511903f3da976304990339da1c49a3cc0f00bcd7d793181' || '' }}
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
          annotations: ${{ steps.docker-meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate SBOM
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10
        with:
          image: ghcr.io/${{ github.repository_owner }}/cf-ips-to-hcloud-fw
          format: spdx-json
          artifact-name: sbom-docker.spdx.json
          output-file: sbom-docker.spdx.json

      - name: Generate SBOM attestation for DockerHub
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: index.docker.io/${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          sbom-path: sbom-docker.spdx.json
          push-to-registry: true

      - name: Generate SBOM attestation for Quay
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: quay.io/${{ vars.QUAY_USERNAME }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          sbom-path: sbom-docker.spdx.json
          push-to-registry: true

      - name: Generate SBOM attestation for GitHub Container Registry
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          sbom-path: sbom-docker.spdx.json
          push-to-registry: true

      - name: Generate artifact attestation for DockerHub
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: index.docker.io/${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true

      - name: Generate artifact attestation for Quay
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: quay.io/${{ vars.QUAY_USERNAME }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true

      - name: Generate artifact attestation for GitHub Container Registry
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/cf-ips-to-hcloud-fw
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true

      - name: Sign the images with GitHub OIDC Token
        if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --recursive --yes ${images}
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.docker-meta.outputs.tags }}

      - name: Analyze for critical and high CVEs with Docker Scout
        if: ${{ (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]' }}
        id: docker-scout-cves
        continue-on-error: true
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.16.0
        with:
          command: cves${{ !startsWith(github.ref, 'refs/tags/') && ',recommendations,compare' || '' }}
          image: ${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw:${{ steps.docker-meta.outputs.version }}
          sarif-file: sarif.output.json
          organization: ${{ vars.DOCKERHUB_USERNAME }}
          to: registry://${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw:1

      - name: Upload Docker Scout scan result to GitHub Security tab
        if: ${{ (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]' }}
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v3.29.5
        with:
          sarif_file: sarif.output.json

      - name: Scan image with Grype
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7.2.1
        id: grype-scan
        continue-on-error: true
        with:
          image: ${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw:${{ steps.docker-meta.outputs.version }}
          only-fixed: true
          add-cpes-if-none: true

      - name: Upload Grype scan result to GitHub Security tab
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v3.29.5
        continue-on-error: true
        with:
          sarif_file: ${{ steps.grype-scan.outputs.sarif }}

  provenance-docker:
    name: Generate SLSA Provenance for DockerHub
    if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
    needs:
      - docker
    permissions:
      actions: read
      id-token: write
      packages: write
    # Can't pin with hash due to how this workflow works.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ vars.DOCKERHUB_USERNAME }}/cf-ips-to-hcloud-fw
      digest: ${{ needs.docker.outputs.digest }}
      private-repository: true
      registry-username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      registry-password: ${{ secrets.DOCKERHUB_TOKEN }}

  provenance-quay:
    name: Generate SLSA Provenance for Quay
    if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
    needs:
      - docker
    permissions:
      actions: read
      id-token: write
      packages: write
    # Can't pin with hash due to how this workflow works.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: quay.io/${{ vars.QUAY_USERNAME }}/cf-ips-to-hcloud-fw
      digest: ${{ needs.docker.outputs.digest }}
      private-repository: true
      registry-username: ${{ vars.QUAY_ROBOT }}
    secrets:
      registry-password: ${{ secrets.QUAY_TOKEN }}

  provenance-ghcr:
    name: Generate SLSA Provenance for GitHub Container Registry
    if: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
    needs:
      - docker
    permissions:
      actions: read
      id-token: write
      packages: write
    # Can't pin with hash due to how this workflow works.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ghcr.io/${{ github.repository_owner }}/cf-ips-to-hcloud-fw
      digest: ${{ needs.docker.outputs.digest }}
      private-repository: true
      registry-username: ${{ github.repository_owner }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
