name: Test results

on:
  workflow_run:
    workflows:
      - Python package
    types:
      - completed

permissions:
  contents: read

jobs:
  publish-test-results:
    name: Publish test results
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'skipped' }}

    permissions:
      checks: write
      pull-requests: write
      actions: read

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: test-results-.*|event-file
          name_is_regexp: true
          path: artifacts

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/event-file/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: artifacts/test-results-*/*.xml
          comment_mode: ${{ github.event.workflow_run.event == 'pull_request' && 'always' || 'off' }}
          report_individual_runs: true
          check_run_annotations_branch: "*"
