name: Publish test results

on:
  workflow_run:
    workflows:
      - Build, sign, and publish Python package
    types:
      - completed

permissions:
  contents: read

jobs:
  publish-test-results:
    name: Publish test results
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'skipped' }}

    permissions:
      checks: write
      pull-requests: write
      actions: read

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@2536c51d3d126276eb39f74d6bc9c72ac6ef30d3 # v16
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: test-results-.*|event-file
          name_is_regexp: true
          path: artifacts

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@c950f6fb443cb5af20a377fd0dfaa78838901040 # v2.23.0
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/event-file/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: artifacts/test-results-*/*.xml
          comment_mode: ${{ github.event.workflow_run.event == 'pull_request' && 'always' || 'off' }}
          report_individual_runs: true
          check_run_annotations_branch: "*"
