name: Publish test results

on:
  workflow_run:
    workflows:
      - Build, sign, and publish Python package
    types:
      - completed

permissions:
  contents: read

jobs:
  publish-test-results:
    name: Publish test results
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'skipped' }}

    permissions:
      checks: write
      pull-requests: write
      actions: read

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@fe9d59ce33ce92db8a6ac90b2c8be6b6d90417c8 # v15
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: test-results-.*|event-file
          name_is_regexp: true
          path: artifacts

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/event-file/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: artifacts/test-results-*/*.xml
          comment_mode: ${{ github.event.workflow_run.event == 'pull_request' && 'always' || 'off' }}
          report_individual_runs: true
          check_run_annotations_branch: "*"
